* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: contents;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.contaner {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100dvh;
}

.header {
  position: sticky;
  top: 0;
  display: grid;
  align-content: start;
  gap: 16px;
  padding: 24px 16px;
  height: 100dvh;
  background-color: #171e30;
}

.title {
  color: #b5b7bc;
  font-size: 1.2rem;
}

.navigation-list {
  list-style: none;
}

.navigation-link {
  display: block;
  padding: 8px 16px;
  border-radius: 6px;
  color: #b5b7bc;
  text-decoration: none;
  transition: background-color 100ms ease-in-out;
}

.navigation-link.-active {
  background-color: #eaeaea;
  color: #000;
}

.navigation-link:hover {
  background-color: #e1e1e1;
  color: #000;
}

.main {
  display: grid;
  justify-self: center;
  align-content: start;
  gap: 32px;
  padding: 32px;
  width: min(1080px, 100%);
}

.image {
  background-color: #ddd;
}

.image svg {
  display: block;
  width: 100%;
  height: auto;
}

.control {
  display: grid;
  gap: 16px;
  width: clamp(50%, 400px, 100%);
}

.label {
  display: grid;
  gap: 4px;
}

.input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 20px;
}

.button {
  margin-top: 16px;
  padding: 16px 24px;
  background-color: #ddd;
  border: none;
  border-radius: 8px;
  color: #222;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

.button:hover {
  background-color: #ccc;
}
